*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color: #e3e6f3;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.header-nav-logo img{
    width:80px;
    height:70px;
}
.header-nav-list ul{
    display: flex;
    align-items: center;
    justify-content:center;
}
.header-nav-list ul li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.header-nav-list ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.header-nav-list ul a:hover,
.header-nav-list ul a.active{
    color: #088178;
}
.header-nav-list ul li a:hover::after,
.header-nav-list ul li a.active::after{
    content: "";
    width: 30%;
    height:2px;
    background: #088178;
    position:absolute;
    top:19px;
    left: 21px;
}

#main-back{
    background-image: url("images/background.jpg");
    height:100vh;
    width:100%;
    padding: 0px 80px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

#main-back h4{
    padding-bottom: 15px;
    font-size:40px;
}
#main-back h2{
    font-size:70px;
    color: #088178;
}
#main-back h1{
    font-size:70px;
}
p{
    font-size:16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
#main-back button{
    background-color: transparent;
    background-image: url("images/button.png");
    background-repeat: no-repeat;
    background-size:cover;
  width: 260px;
  height: 60px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #088178;
  padding: 14px 65px 14px 65px;
}
#features{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#features .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow 0.3s;
}
#features .f-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}
#features .f-box img{
    width:100%;
    margin-bottom: 10px;
}
#features .f-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
  }

  .product-section .pro-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
  }
  .product-section h1,
  .product-section p {
    text-align: center;
  }
  .product-section .product-cart {
    width: 280px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.2s;
  }
  .product-section .product-cart:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  .product-section .product-cart img {
    width: 100%;
    border-radius: 25px;
  }
  .product-section .product-cart span {
    color: #969696;
    font-weight: 500;
    line-height: 30px;
  }
  .product-section .product-cart h4 {
    font-size: 18px;
    color: rgb(41, 41, 41);
  }
  .product-section .product-cart .stars {
    color: #e6ae2c;
    padding: 6px 0;
  }
  .product-section .product-cart .price {
    color: #088178;
    padding: 4px 0;
  }
  .product-section .product-cart .buy-icon {
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .offer-banner{
    background-image: url("images/banner/b1.jpg");
    width: 100%;
    height: 50vh;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .offer-banner h4{
    color: #eaebf0;
    
  }
  .offer-banner h2{
    color: #eaebf0;
    padding: 20px 0;
  }
  .offer-banner button{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .offer-banner button:hover{
    background-color: #088178;
    border: 1px solid #088178;
  }

  #banners {
    margin: 0 60px;
  }
  #banners h2,
  #banners h4,
  #banners span {
    color: rgb(248, 248, 248);
    background-color: rgb(32, 181, 240);
  }
  #banners .big-banners {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #banners .big-banners div {
    min-width: 580px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
    backdrop-filter: blur(8%);
  }
  #banners .big-banners button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(95, 255, 105);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
  }
  #banners .big-banners div:hover button {
    color:rgb(248, 248, 248);
    background-color: #088178;
    border: 1px solid #088178;
  }
  #banners .big-banners-1 {
    background-image: url(images/banner/bb1.webp);
  }
  #banners .big-banners-2 {
    background-image: url(images/banner/bb2.webp);
  }
  #banners .small-banners-1 {
    background-image: url(images/banner/ss1.webp);
  }
  #banners .small-banners-2 {
    background-image: url(images/banner/ss2.jpg);
  }
  #banners .small-banners-3 {
    background-image: url(images/banner/ss3.webp);
  }
  #banners .small-banners {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #banners .small-banners div {
    min-width: 370px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
  }
  #banners .small-banners h2 {
    font-size: 25px;
  }
  #banners .small-banners h5 {
    color: #771818;
  }
  
  /* newsletter section styles */
  
  #newsletter {
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
  }
  #newsletter .newsletter-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
  }
  #newsletter .newsletter-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
  }
  #newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
  }
  #newsletter .form input
  ,#header .form input {
    padding: 20px;
    width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
  }
  #newsletter .form button,
  #header .form button{
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
  
  /* footer section styles */
  
  #footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  }
 
  #footer p, #footer a{
    color: rgb(109, 109, 109);
    text-decoration: none;
  }
  #footer a:hover{
    color:#088178;
  }
  #footer .about a{
    display: block;
    padding:8px 0;
  }
  #footer .myaccount a{
    display: block;
    padding:8px 0;
  }
  #footer .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
  }